
/* Estilo de la ventana principal */
QMainWindow{
    background-color: #172a54;
}



/* Estilo del label principal */
QLabel[tipo="titulo"]{
    font-family: "Arial";      
    font-size: 26pt;   
    font-weight: bold; 
    padding: 20px;
    color: white;
}

/* Estilo de subtitulos*/
QLabel[tipo="subtitulo"]{
    font-family: "Arial";      
    font-size: 20pt;   
    font-weight: bold;     
    color: white;  
        
}


/* Estilo de contenidos*/
QLabel[tipo="contenido"]{
    padding-left: 20px;
    font-family: "Arial";
    font-size: 16pt;
    color: white;               
}


/* Estilo de botones */
QPushButton{
    background-color: #273c63;
    padding: 20px;
    font-size: 18px;
    border-radius: 7px;
    border: 2px solid #3e4f71;
    color: white;
}

QPushButton:hover{
    background-color: rgb(109, 224, 255); 
    border: 2px solid rgb(109, 224, 255);
    color: black;
}

QPushButton:pressed{
    background-color: rgb(30, 80, 150); 
    border: 2px solid rgb(30, 80, 150);
    color: black;
}


/* Estilo del VBox botones*/
#Grupo_Botones{
    background-color: #283c63;
    border-radius: 10px; 
}


/* Estilo del widgets de stacked_layout*/
QWidget[tipo="stacked_widgets"]{
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #485778;
    border-radius: 10px;
    
}

/* Estilo de linea divisora*/
QWidget[tipo="linea_divisora"]{
    border: 1px solid #485778;
    background-color: #485778;
}

/* Contenedor principal de la barra */
QProgressBar {
    border: 2px solid rgba(61, 61, 61, 0); 
    border-radius: 10px;       /* Bordes redondeados */
    text-align: center;       /* Centra el porcentaje */
    color: transparent;             /* Color de la letra */
    font-weight: bold;
    background-color: rgba(43, 43, 43, 0); Fondo de la barra (no lleno) 
}

/* La parte que se desliza/llena (Slider) */
QProgressBar::chunk {
    background-color: rgb(93, 185, 216); /* Color azul */
    /* width: 10px;                Opcional: crea un efecto de bloques */
    margin: 1px;               /* Espaciado entre el borde y el relleno */
    border-radius: 8px;        /* Bordes redondeados internos */
    
}





